.container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  /* align-items: center; */
  padding: 2rem 15rem;
  width: 100%;
}
.container .row {
  display: flex;
  width: 100%;
}

.nav {
  flex: 30%;
}

.main {
  flex: 70%;
}
