.profileInfo {
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

.bannerContainer {
  height: 213.233px;
  padding-bottom: 1rem;
}

.profileBanner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileAvatarSect {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 0rem 1rem;
}

.profileAvatar {
  border-radius: 50%;
  border: 5px solid white;
  position: absolute;
  transform: translate(10%, -50%);
}
.profileInfoEdit {
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

.bannerEditContainer {
  height: 140px;
}
.profileBannerEdit {
  width: 100%;
  /* height: 100%; */
  height: 140px;
  object-fit: cover;
}

.profileAvatarSectEdit {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 0rem 1rem;
}

.profileAvatarEdit {
  border-radius: 50%;
  border: 5px solid white;
  position: absolute;
  transform: translate(10%, -50%);
}

.editBtn {
  /* margin-top: ; */
  border-radius: 15px;
  border: 1px solid var(--border-color);
  background: transparent;
  padding: 0.5rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.editBtnNo {
  opacity: 0;
}

.editBtn:hover {
  background: var(--border-color);
}

.profile {
  padding: 2rem 2rem;
  text-align: left;
}

.profileName {
  font-size: larger;
  font-weight: 600;
}

.profileUsername {
  font-size: small;
  font-weight: 300;
  color: gray;
  padding-bottom: 1rem;
}

.profileLoc {
  font-weight: 300;
  color: gray;
  padding-top: 1rem;
}

.profileLoc svg {
  padding-right: 0.2rem;
}

.profile input {
  width: 100%;
  padding: 0.5rem 0.3rem;
}

.doneBtn,
.cancelBtn {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
}

.doneBtn {
  margin-right: 1rem;
}

.bannerWrap {
  width: 100%;
  position: relative;
}

.bannerOverlay {
  position: absolute;
  width: 100%;
  height: 95%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.269);
}

.bannerOverlay ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.bannerOverlay li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background: rgba(0, 0, 0, 0.533);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.bannerOverlay li:hover {
  background: rgba(46, 46, 46, 0.533);
}

.bannerOverlay svg {
  color: white;
  font-size: larger;
}
.bannerOverlay label {
  cursor: pointer;
}

.avatarWrap {
  width: 100%;
  position: relative;
  z-index: 200;
}

.avatarWrap img {
  display: block;
}

.avatarOverlay {
  border-radius: 50px;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.269);
  padding: 0 1rem;
  transform: translate(15%, -50%);
}

.avatarOverlay ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.avatarOverlay li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background: rgba(0, 0, 0, 0.533);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.avatarOverlay li:hover {
  background: rgba(46, 46, 46, 0.533);
}

.avatarOverlay svg {
  color: white;
  font-size: larger;
}
.avatarOverlay label {
  cursor: pointer;
}
