.formContainer {
  display: flex;
  width: 100%;
  /* height: 120px; */
  padding: 0.4rem 1.6rem;
  padding-top: 1rem;
  border-bottom: 1px solid var(--border-color);
}

.pfpImage {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.postDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 0.4rem;
  width: 100%;
  margin-left: 1.2rem;
}

.postDetails input {
  font-size: 1.4rem;
  border: none;
  background: var(--bg);
  color: var(--input);
}

.postDetails input:focus {
  outline: none;
}

.formAction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 100%;
}

.formAction button {
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
}

.formAction ul {
  display: flex;
}

.formAction li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
  border-radius: 50%;
  color: var(--primary);
  cursor: pointer;
}

.formAction li:hover {
  background-color: var(--like-hover);
}

.formAction label {
  cursor: pointer;
}

.uploadedImgs {
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
}
.uploadedImg {
  text-align: left;
  /* padding: 1rem 0; */
}

.uploadedImg img {
  width: auto;
  height: 100px;
  border-radius: 15px;
}

.loader {
  padding-top: 2rem;
}

@media only screen and (max-width: 1200px) {
  .formAction button {
    padding: 0.3rem 1rem;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .formAction button {
    margin-right: 1rem;
  }

  .postDetails input {
    font-size: 1.2rem;
    border: none;
  }
}
