.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container .row {
  display: flex;
  width: 100%;
}

.primaryColumn {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  flex: 60%;
}

.secondaryColumn {
  flex: auto;
}

@media only screen and (max-width: 1200px) {
  .primaryColumn {
    flex: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100vw;
  }
  .secondaryColumn {
    display: none;
  }

  .primaryColumn {
    flex: 100%;
  }
}
