/* .fixedModal {
  position: fixed;
} */

.modalBg {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.258);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden !important; */
}

.modalContainer {
  width: 500px;
  /* height: 500px; */
  border-radius: 12px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  z-index: 100;
  position: fixed;
  z-index: 300;
}

.title {
  display: flex;
  /* justify-content: space-between; */
  gap: 1rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 800;
}

.title span {
  cursor: pointer;
  font-weight: 400;
}

.content {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
  padding: 1rem 0;
}

.footer {
  display: flex;
  justify-content: center;
}
