:root {
  --primary: #ffafcc;
  --bg: #e7e7e8;
  --primary-hover: #fd94bb;
  --border-color: #dcd4d4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Poppins;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.row {
  display: flex;
}

.col-2 {
  flex: 50%;
}

.col-3 {
  flex: 33.3%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

li {
  list-style: none;
}

.primary {
  border: none;
  background: var(--primary);
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  color: white;
  cursor: pointer;
}

.primary:hover {
  background: var(--primary-hover);
}
