:root {
  --primary: #ffafcc;
  --bg: #e7e7e8;
  --primary-hover: #fd94bb;
  --primary-disabled: #cd7e9b;
  --border-color: #dcd4d4;
  --like-hover: #fee7f2;
  --share-hover: #baf8a0;
  --comment-hover: #a0c3fb;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Poppins;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.row {
  display: flex;
}

.col-2 {
  flex: 50%;
}

.col-3 {
  flex: 33.3%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

li {
  list-style: none;
}

.primary {
  border: none;
  background: var(--primary);
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  color: white;
  cursor: pointer;
}

.primary:hover {
  background: var(--primary-hover);
}

.cancel {
  border: none;
  background: black;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  color: white;
  cursor: pointer;
}

.cancel:hover {
  background: rgb(46, 46, 46);
}

.primary.disabled {
  background: var(--primary-disabled);
  cursor: default;
}

.hidden {
  display: none;
}

.responsive_nav {
  /* transform: translateY(100vh) !important; */
  transform: none;
}
